<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :subject, placeholder: 'Subject' %>
  </div>

  <div class="field">
    <%= f.text_area :text, cols:30, placeholder: 'Question'%>
  </div>

  <ul>
    <% @categories.each do |category| %>
    <li><%= check_box_tag "question[category_ids][]", category.id%><%= f.label category.name %></li>
    <% end %>
  </ul>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
