<div id="filters">
  <%= link_to 'Ask a Question', new_question_path %>
  <form>
    <input type="text" name='q_search' placeholder='Search Questions'>
  </form>
  <h2>Filers</h2>
  <h3>Status</h3>
  <label>Pending</label><input type="checkbox">
  <label>Answered</label><input type="checkbox">
  <h3>Category</h3>
  <% @categories.each do |category| %>
    <label><%= category.name %></label><input type="checkbox">
  <%end%>
  <h3>Author</h3>
  <% @users.each do |user| %>
    <label><%= user.name %></label><input type="checkbox">
  <%end%>
</div>

<section id="questions_list">
  <% @questions.each do |question| %>
  <article>
    <h2><%=question.subject %></h2>
    <div class="karma">Karma: <%=question.karma %></div>
    <p>Asked by <%=question.user.name%> on <%=question.created_at%></p>
    <hr>
    <p class="quest"><%=question.text %></p>
    <%= link_to 'See More', question %>
  </article>
  <% end %>
</section>



