<div id="filters">
  <%= form_tag(questions_path, method:"get") do %>
  <%= submit_tag("Search") %>
  <input type="text" name='q_search' placeholder='Search Questions'>
  <h2>Filers</h2>
  <h3>Status</h3>
  <ul>
    <li><%= check_box_tag "status[]", 0, @filtered_status.include?("0") %> Pending</li>
    <li><%= check_box_tag "status[]", 't', @filtered_status.include?("t") %> Answered</li>
  </ul>
  <h3>Category</h3>
  <ul>
    <% @categories.each do |category| %>
    <li><%= check_box_tag "category_ids[]", category.id %> <%= category.name %> <%= category.questions.count %></li>
    <% end %>
  </ul>
  <h3>Author</h3>
  <ul>
    <% @users.each do |user| %>
    <li><%= check_box_tag "user_ids[]", user.id, @user_filer.include?(user.id.to_s)%> <%= user.name %> <%= user.questions_asked %></li>
    <% end %>
  </ul>
  <%= submit_tag("Search") %>
  <%end%>
</div>

<section id="questions_list">
  <% @questions.each do |question| %>
  <article>
    <h2><%=question.subject %></h2>
    <div class="karma">Karma: <%=question.karma %></div>
    <p>Asked by <%=question.user.name%> on <%=question.created_at%></p>
    <hr>
    <p class="quest"><%=question.text %></p>
    <%= link_to 'See More', question %>
  </article>
  <% end %>
</section>



