<div class="questions_index container">
  <div class='row'>

    <div id="filters" class="col-md-3">
      <%= form_tag(questions_path, method:"get", id: 'filter_form',) do %>
        <h2>Filers</h2>
        <h3>Subject</h3>
        <input type="text" name='q_search' placeholder='Search Questions'>
        <h3>Status</h3>
        <ul>
          <li><%= check_box_tag "status[]", 0, @status_filter.include?("0"), { id:"status_pending", class: "checkbox_filter" } %> <%= label_tag "status_pending", 'Pending ' + @questions.where(status:0).count.to_s %></li>
          <li><%= check_box_tag "status[]", 't', @status_filter.include?("t"), { id:"status_answered", class: "checkbox_filter" } %> <%= label_tag "status_answered", 'Answered ' + @questions.where(status:true).count.to_s %></li>
        </ul>
        <h3>Category</h3>
        <ul>
          <% @categories.each do |category| %>
          <li><%= check_box_tag "category_ids[]", category.id, @category_filer.include?(category.id.to_s), { id:category.id, class: "checkbox_filter" } %> <%= label_tag category.id, category.name + " " + @questions.in_category([category.id]).count.to_s %></li>
          <% end %>
        </ul>
        <h3>Author</h3>
        <ul>
          <% @users.each do |user| %>
          <li><%= check_box_tag "user_ids[]", user.id, @user_filer.include?(user.id.to_s), { id:user.id, class: "checkbox_filter" } %> <%= label_tag user.id, user.name + " " + @questions.user_id(user.id).count.to_s %></li>
          <% end %>
        </ul>
      <%end%>
    </div>

    <section id="questions_list" class="col-md-9">
      <h2><%=@filters %></h2>
      <% if @questions.empty? %>
      <h4>No Questions matching your filters</h4>
      <% else %>
      <p class='result_count'><%= @questions.count %> questions found.</p>
      <% end %>
      <% @questions.each do |question| %>
      <article>
        <hr>
        <h3><%=question.subject %></h3>
        <div class="karma">Karma: <%=question.karma %></div>
        <p>Asked by <%=question.user.name%> on <%=question.created_at%></p>
        <p class="quest"><%=question.text %></p>
        <%= link_to 'See More', question %>
      </article>
      <% end %>
    </section>
  </div>
</div>


