<div class="question_show container">
  <section id="question">
    <h2> <%= @question.subject %></h2>
    <p>Asked on <date> <%= @question.created_at %></date> by <%= @question.user.name %></p>
    <strong>Karma:</strong>
    <%= @question.karma %>
    <p>
    <%= markdown_filter @question.text %>
    </p>
    <% @question.categories.each do |category|%>
      <%= category.name %>
    <% end %>
    <% if @user_id == @question.user_id %>
      <%= link_to 'Edit Question', edit_question_path %>
    <% end %>
  </section>
  <section id="answers">
    <h2>Answers</h2>
    <% if session[:user_id] %>
      <%= render "answers/form" %>
    <% end %>
    <% @answers.each do |answer|%>
      <div class="question_answer">
        <div class="answer_date"><%=answer.time_format%></div>
        <div class="answer_author"><%=answer.user.name%></div>
        <p><%= markdown_filter answer.text %></p>
        
      </div>
    <% end %>
  </section>
</div>

