<section id="question">
  <h2> <%= @question.subject %></h2>
  <p>Asked on <date> <%= @question.created_at %></date> by <%= @question.user.name %></p>
  <strong>Karma:</strong>
  <%= @question.karma %>
  <p>
  <%= @question.text %>
  </p>
  <% @question.categories.each do |category|%>
    <%= category.name %>
  <% end %>
</section>
<section id="answers">
  <%= link_to 'Submit Answer', new_answer_path(q_id:@question.id)  %>
  <h2>Answers</h2>
  <% @answers.each do |answer|%>
    <div class="question_answer">
      <p><%=answer.text%></p>
      <p>Answered by <%=answer.user.name%> on <%=answer.created_at%></p> 
    </div>
  <% end %>
</section>

<p>
  
</p>


