<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @category.name %>
</p>

<% @category.questions.each do |question| %>
<p>
  <strong><%= question.subject %></strong><br>
  <%= question.text %><br>
  asked by <%= question.user.name %><br>
  <% question.categories.each do |category|%>
    <%= category.name %>
  <% end %>
</p>
<% end %>

