<div class="container category_show">
  <h1> <%= @category.name %> </h1>
  <h4>Number of questions: <%= @category.questions.count %></h4>
  <% @category.questions.each do |question| %>
  <article>
    <hr>
    <h3><%=question.subject %></h3>
    <div class="karma">Karma: <%=question.karma %></div>
    <p>Asked by <%=question.user.name%> on <%=question.created_at%></p>
    <p class="quest"><%=question.text %></p>
    <%= link_to 'See More', question %>
  </article>
  <% end %>
</div>
