<!DOCTYPE html>
<html>
<head>
  <title>WDIOverflow</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <nav>
    <ul>
      <a href="/"><h1>WDI-Overflow</h1></a>
      <% if logged_in? %>
        Logged in as <%= current_user.name %>.
        <%= link_to "Log out", log_out_path %>
      <% else %>  
        <%= link_to 'Log in', log_in_path %>
        <%= link_to 'Register', register_path %>
      <% end %>
    </ul>
  </nav>
</header>
<%= yield %>

</body>
</html>
